:root {
  --font-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --bg-title-text-color: #8d8149;
  --title-text-color: #000000;
  --text-color: #212121;
  --accent-color: #ffffff;
  --background: darkgray;
  --second-accent: red;
}
