<aside class="aside">
        <div class="image">
            <button class="mobile-menu__button" data-menu-button>
                <svg class="mobile-menu__icon" width="40" height="40">
                    <use class="mobile-menu__icon-menu" href=""></use>
                    <use class="mobile-menu__icon-close" href=""></use>
                </svg>
            </button>
            <div class="mobile-menu" data-menu>
                <h2 class="mobile-menu__title">CONTACTS</h2>
                <ul class="mobile-menu__list">
                    <li class="mobile-menu__item">
                        <a class="mobile-menu__link" href="tel:+380673106062">+38 067 310 60 62</a>
                    </li>
                    <li class="mobile-menu__item">
                        <a class="mobile-menu__link" href="mailto:baierzdorf.igor@gmail.com">baierzdorf.igor@gmail.com</a>
                    </li>
                    <li class="mobile-menu__item">
                        <a class="mobile-menu__link" href="https://github.com/IhorBaer">Github</a>
                    </li>
                    <li class="mobile-menu__item">
                        <a class="mobile-menu__link" href="https://www.google.com.ua/maps/place/%D0%9A%D0%B8%D1%97%D0%B2,+02000/@50.4021368,30.2525102,10z/data=!4m5!3m4!1s0x40d4cf4ee15a4505:0x764931d2170146fe!8m2!3d50.4501!4d30.5234?hl=uk">Kyiv, Ukraine</a>
                    </li>
                </ul>
            </div>
            <img class="img" src="./images/DSC00925.jpg" alt="my face" width="400" />
        </div>
        <div class="mob-summary">
            <h1 class="mob-summary__name">IHOR BAIERZDORF</h1>
            <h3 class="mob-summary__job">JUNIOR FRONT-END DEVELOPER</h3>
            <h2 class="mob-summary__title">SUMMARY</h2>
            <p class="mob-summary__text">
                I am a Junior Front-End developer. I focus on HTML5, CSS3, JS. React.
                English - pre-intermediate(I improve my English skills). Development,
                practice and work for the result are importent for me. I intend to
                develop innovative technologies and deliver value to people.
            </p>
        </div>
        <div class="contact">
            <h2 class="contact__title">CONTACTS</h2>
            <ul class="contact__list">
                <li class="contact__item">
                    <a class="contact__link" href="tel:+380673106062">+38 067 310 60 62</a>
                </li>
                <li class="contact__item">
                    <a class="contact__link" href="mailto:baierzdorf.igor@gmail.com">baierzdorf.igor@gmail.com</a>
                </li>
                <li class="contact__item">
                    <a class="contact__link" href="https://github.com/IhorBaer">Github</a>
                </li>
                <li class="contact__item">
                    <a class="contact__link" href="https://www.google.com.ua/maps/place/%D0%9A%D0%B8%D1%97%D0%B2,+02000/@50.4021368,30.2525102,10z/data=!4m5!3m4!1s0x40d4cf4ee15a4505:0x764931d2170146fe!8m2!3d50.4501!4d30.5234?hl=uk">Kyiv, Ukraine</a>
                </li>
            </ul>
        </div>
        <div class="skills">
            <h2 class="skills__title">TECH SKILLS</h2>
            <ul class="skills__list">
                <li>HTML5</li>
                <li>CSS3</li>
                <li>SASS</li>
                <li>GIT</li>
                <li>WebPack</li>
                <li>JavaScript</li>
                <li>React (In process)</li>
                <li>Redux (In process)</li>
                <li>Node.js (In process)</li>
                <li>REST API (In process)</li>
            </ul>
        </div>
        <div class="skills">
            <h2 class="skills__title">SOFT SKILLS</h2>
            <ul class="skills__list">
                <li>Scrum</li>
                <li>Agile</li>
                <li>GTD</li>
                <li>Teamwork</li>
                <li>Responsible</li>
                <li>Developed logical thinking</li>
            </ul>
        </div>
        <div class="languages">
            <h2 class="languages__title">LANGUAGES</h2>
            <ul class="languages__list">
                <li>Ukrainian - native</li>
                <li>English - pre-intermediate</li>
            </ul>
        </div>
    </aside>
    <section class="section">
        <div class="summary">
            <h1 class="summary__name">IHOR BAIERZDORF</h1>
            <h3 class="summary__job">JUNIOR FRONT-END DEVELOPER</h3>
            <h2 class="summary__title">SUMMARY</h2>
            <p class="summary__text">
                I am a Junior Front-End developer. I focus on HTML5, CSS3, JS. React.
                English - pre-intermediate(I improve my English skills). Development,
                practice and work for the result are importent for me. I intend to
                develop innovative technologies and deliver value to people.
            </p>
        </div>
        <div class="projects">
            <h2 class="projects__title">PROJECTS</h2>
            <ul class="projects__list">
                <li class="projects__item">
                    <a class="projects__link" href="https://ihorbaer.github.io/goit-markup-hw-08">
                        <h3>WebStudio</h3>
                    </a>
                    <p class="projects__text">
                        Online business development project. Using Parsel, SCSS, JS.
                    </p>
                </li>
                <li class="projects__item">
                    <a class="projects__link" href="https://ihorbaer.github.io/team-project-demo/">
                        <h3>IceCream</h3>
                    </a>
                    <p class="projects__text">
                        Ice Cream company site. Neat and tasty design, responsible layout.
                        Using Parsel, SCSS, JS.
                    </p>
                </li>
                <li class="projects__item">
                    <a class="projects__link" href="https://ihorbaer.github.io/team__three-project/">
                        <h3>Filmoteka</h3>
                    </a>
                    <p class="projects__text">
                        Filmoteka company site. Neat and tasty design, responsible layout.
                        Using Parsel, SCSS, JS.
                    </p>
                </li>
            </ul>
        </div>
        <div class="work">
            <h2 class="work__title">WORK EXPERIENCE</h2>
            <h3 class="work__subtitle"></h3>
            <p class="work__text"></p>
            <ul class="work__list">
                <li class="work__item"></li>
                <li class="work__item"></li>
                <li class="work__item"></li>
            </ul>
            <h3 class="work__subtitle"></h3>
            <p class="work__text"></p>
            <ul class="work__list">
                <li class="work__item"></li>
                <li class="work__item"></li>
                <li class="work__item"></li>
            </ul>
        </div>
        <div class="education">
            <h2 class="education__title">EDUCATION</h2>
            <h3 class="education__subtitle">
            </h3>
            <p class="education__text"></p>
            <p class="education__text"></p>
            <h2 class="education__title education__title--current">
                ADDITIONAL EDUCATION
            </h2>
            <h3 class="education__subtitle">IT School GoiT</h3>
            <p class="education__text">Full stack developer</p>
            <p class="education__text"></p>
        </div>
        <div class="mob-contact">
            <h2 class="mob-contact__title">CONTACTS</h2>
            <ul class="mob-contact__list">
                <li class="mob-contact__item">
                    <a class="mob-contact__link" href="tel:+380673106062">+38 067 310 60 62</a>
                </li>
                <li class="mob-contact__item">
                    <a class="mob-contact__link" href="mailto:baierzdorf.igor@gmail.com">baierzdorf.igor@gmail.com</a>
                </li>
                <li class="mob-contact__item">
                    <a class="mob-contact__link" href="https://github.com/IhorBaer">Github</a>
                </li>
                <li class="mob-contact__item">
                    <a class="mob-contact__link" href="https://www.google.com.ua/maps/place/%D0%9A%D0%B8%D1%97%D0%B2,+02000/@50.4021368,30.2525102,10z/data=!4m5!3m4!1s0x40d4cf4ee15a4505:0x764931d2170146fe!8m2!3d50.4501!4d30.5234?hl=uk">Kyiv, Ukraine</a>
                </li>
            </ul>
        </div>
    </section>
    


