<div class="modal backdrop visually-hidden">
  <div class="modal-container">
    <button type="button" class="btn-modal-close">
      <svg class="btn-close__icon" width="30" height="30">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="mobile-menu__title">CONTACTS</h2>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="tel:+380673106062">+38 098 743 51 01</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="mailto:baierzdorf.igor@gmail.com"
          >baierzdorf.igor@gmail.com</a
        >
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="https://github.com/IhorBaer">Github</a>
      </li>
      <li class="mobile-menu__item">
        <a
          class="mobile-menu__link"
          href="https://www.google.com.ua/maps/place/%D0%9A%D0%B8%D1%97%D0%B2,+02000/@50.4021368,30.2525102,10z/data=!4m5!3m4!1s0x40d4cf4ee15a4505:0x764931d2170146fe!8m2!3d50.4501!4d30.5234?hl=uk"
          >Kyiv, Ukraine</a
        >
      </li>
    </ul>
  </div>
</div>
