.aside {
  background-color: var(--bg-title-text-color);
  padding-bottom: 20px;
  box-shadow: inset 6px 6px 20px rgb(0 0 0 / 30%);

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    min-width: 310px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 400px;
  }
}

.image {
  position: relative;
  box-shadow: 6px 6px 20px rgb(106 104 104 / 30%);
}
