.aside {
    background-color: var(--bg-title-text-color);
    padding-bottom: 20px;

    @media screen and (min-width: 480px) {
        max-width: 480px;
    }

    @media screen and (min-width: 768px) {
        min-width: 310px;
    }

    @media screen and (min-width: 1200px) {
        min-width: 400px;
    }
}

.image {
    position: relative;
    padding: 40px;
    @media screen and (min-width: 480px) {
        padding: 40px;
    }

    @media screen and (min-width: 768px) {
        padding: 30px;
    }

    @media screen and (min-width: 1200px) {
        padding: 20px;
    }
}