.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  position: fixed;
  z-index: 998;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
  cursor: pointer;

  &.scroll--isShown {
    opacity: 0.8;
    visibility: visible;
  }
}

.icon__scroll {
  width: 32px;
  height: 32px;
}
